In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style('whitegrid')

In [2]:
df = pd.read_csv('employees.csv')

In [3]:
df.head(20)

    calendar_year gender  num_of_employees
0            1998      M              8929
1            1990      F              5470
2            1992      M              8480
3            1993      F              5623
4            1999      M              9199
5            1997      M              8930
6            1998      F              6030
7            1995      M              8623
8            1991      M              8295
9            1994      M              8468
10           1990      M              8134
11           2002      F               414
12           1994      F              5719
13           1992      F              5596
14           1991      F              5255
15           1995      F              5734
16           1999      F              6076
17           1996      F              5815
18           1993      M              8483
19           1996      M              8818

In [4]:
df.describe()

       calendar_year  num_of_employees
count      26.000000         26.000000
mean     1996.000000       5755.961538
std         3.815757       2965.531433
min      1990.000000        414.000000
25%      1993.000000       5308.750000
50%      1996.000000       5805.000000
75%      1999.000000       8477.000000
max      2002.000000       9199.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   calendar_year     26 non-null     int64
 1   gender            26 non-null     object
 2   num_of_employees  26 non-null     int64
dtypes: int64(2), object(1)
memory usage: 752.0+ bytes

In [6]:
len(df)

26

In [7]:
df.isnull().sum()

calendar_year       0
gender              0
num_of_employees    0
dtype: int64

In [8]:
df.columns

Index(['calendar_year', 'gender', 'num_of_employees'], dtype='object')

In [10]:
df.calendar_year.unique()

array([1998, 1990, 1992, 1993, 1999, 1997, 1995, 1991, 1994, 2002, 1996,
       2000, 2001])

In [13]:
df.gender.value_counts()

M    13
F    13
Name: gender, dtype: int64

In [15]:
df[df.gender == 'm'].value_counts()

Series([], dtype: int64)